extends ../layout

block content
  .card.shadow
    .card-body
      h2.card-title Lista de Admisiones
      a.btn.btn-primary.mb-3(href="/admisiones/nuevo") + Nueva Admisión

      table.table.table-striped
        thead.table-primary
          tr
            th Nombre
            th Apellido
            th Tipo Ingreso
            th Origen de derivación
            th Fecha de Admisión
            th Estado
            th Acciones
        tbody
          each adm in admisiones
            tr
              td #{adm.nombre}
              td #{adm.apellido}
              td #{adm.tipo_ingreso}
              td #{adm.origen_derivacion || '—'}
              td #{adm.fecha_admision}
              td #{adm.estado}
              td
                a.btn.btn-sm.btn-outline-primary(href=`/admisiones/${adm.id}/editar`) Editar
