extends ../layout

block content
  .card.shadow
    .card-body
      h2.card-title Lista de Internaciones
      a.btn.btn-primary.mb-3(href="/internaciones/nueva") + Nueva Internación

      table.table.table-striped
        thead.table-primary
          tr
            th Paciente
            th Habitación
            th Cama
            th Fecha inicio
            th Fecha fin
        tbody
          each i in internaciones
            tr
              td #{i.nombre} #{i.apellido}
              td #{i.habitacion}
              td #{i.cama}
              td #{i.fecha_inicio}
              td #{i.fecha_fin || '—'}
