extends ../layout

block content
  .card.shadow
    .card-body
      h2.card-title Nueva Evaluación de Enfermería

      form(action="/evaluacionesEnfermeria/crear" method="POST")
        .mb-3
          label.form-label Admisión
          select.form-select(name="admision_id" required)
            option(value="") Seleccione una admisión
            each adm in admisiones
              option(value=adm.id) #{adm.nombre} #{adm.apellido}

        .mb-3
          label.form-label Internación
          select.form-select(name="internacion_id")
            option(value="") (opcional)
            each i in internaciones
              option(value=i.id) #{i.nombre} #{i.apellido}

        .mb-3
          label.form-label Fecha
          input.form-control(type="datetime-local" name="fecha" required)

        .mb-3
          label.form-label Síntomas
          textarea.form-control(name="sintomas")

        .mb-3
          label.form-label Antecedentes
          textarea.form-control(name="antecedentes")

        .mb-3
          label.form-label Plan de cuidados
          textarea.form-control(name="plan_cuidados")

        button.btn.btn-success(type="submit") Guardar
