extends ../layout

block content
  .card.shadow
    .card-body
      h2.card-title Lista de Camas

      table.table.table-striped
        thead.table-primary
          tr
            th Número de cama
            th Estado
            th Sexo ocupante
            th Número de habitación
            th Ala
        tbody
          each cama in camas
            tr
              td #{cama.numero}
              td #{cama.estado}
              td #{cama.sexo_ocupante || '—'}
              td #{cama.habitacion}
              td #{cama.ala}
